html,body, input, label, ul, li, div, nav, a,section, button{
  background:transparent;
  display:block;
  font:inherit;
  color:inherit;
  margin: 0;
  padding: 0;
  border:0;
  font-size: 100%;
  display:block;
}


/*::-webkit-scrollbar{ background:transparent; }*/

::-webkit-scrollbar{ display: none }


ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
}

.group:after{
  content:'';
  display: block;
  clear: both;
}


.ball {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 25px;
    border: solid 1pt black;
}

.small-ball {
    height: 30px;
    width: 30px;
    margin: auto;
    border-radius: 15px;
    border: solid 1pt black;
}

.peg {
    height: 10px;
    width: 10px;
    margin: auto;
    border-radius: 5px;
    border: solid 1pt black;
}

.peg-top {
    margin-bottom: 5px;
}

.peg-placeholder {
    color: rgb(179, 220, 255);
}




.guess-row {
    margin-top: 15px;
    border: 1pt solid black;
    padding-top: 5px;
    margin-bottom: 5px;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: darkorange;
}

.green {
    background-color: mediumspringgreen;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

#main {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

body {
    background-color: rgb(179, 220, 255);
}

.try-inline {
    display: inline-block;
}

@media (max-width: 500px) {
    body {
        background-color: rgb(150,200,12);
    }
    .ball {
        height: 16px;
        width: 16px;
        margin: auto;
        border-radius: 8px;
        border: solid 1pt black;       
    }
    #main {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }   
}

.title_area {
    text-align: center;
    font-size: 40px;
    color: turquoise;
    background-color: hotpink;
    height: 100px;
    padding: 25px;
    font-family: 'Barrio', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.in-middle {
    margin-top: 50px;
}

.some-distance {
    margin-top: 20px;
}

.our-button {
    text-align: center;
}

.our-button-sub {
    text-align: center;
    height: 100px;
    width: 240px;
    border-radius: 10px;
    background-color: hotpink;
    margin: auto;
    border: 1pt solid black;
    padding: 30px;
    font-size: 40px;
    font-family: 'Barrio', cursive;
    color: turquoise;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.submit-message {
    text-align: center;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    font-size: 30px;
    font-family: 'Barrio', cursive;
    color: hotpink;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}

.guess-message {
    text-align: center;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    font-size: 30px;
    font-family: 'Barrio', cursive;
    color: hotpink;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}

.code-box {
    height: 90px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1pt solid black;
    padding-top: 20px;
}

.deselected-box {
    background-color: lightgray;
}